* {
    box-sizing: border-box;
}
body {
    min-height: 100vh; 
    margin: 0;
    top: 0;
    font-size: 1.25rem;
    color: black;
    background: var(--body-bg);
    border: none;
    overflow: hidden;
}
.topicons {
    position: fixed;
    top: 15px;
    width: 100%;
}

.usericon {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    left: 45px;
    float: right;
}

.homeicon {
    border: none;
    cursor: pointer;
    padding: 10px 20px;
    right: 45px;
    float: left;
}
.dropdown {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    min-width: 150px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown a {
    color: black;
    padding: 10px;
    text-decoration: none;
    display: block;
}
.dropdown a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
}


.canvas {
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

h1 {
    display: flex;
    justify-content: center;
    font-size: 6vh;
}