/* Globale Fixes */
* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    max-width: 100vw;
}

body {
    background-color: rgb(0, 128, 0);
}

/* Steuerelemente */
#controll {
    position: absolute;
    display: flex;
    justify-content: space-between;
    top: 1000px;
    left: 5vw;
    width: 90vw;
    height: 100px;
    background-color: rgb(75, 128, 0);
    text-align: center;
    border-radius: 10px;
    flex-wrap: wrap;
}

#controll input {
    width: 200px;
    height: 60px;
    font-size: 50px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

/* Counter oben rechts */
#playerCounter {
    position: absolute;
    top: 800px;
    left: 85vw;
    width: 200px;
    height: 50px;
    background-color: rgb(216, 29, 29);
    text-align: center;
    font-size: 32px;
}

#dealerCounter {
    position: absolute;
    top: 100px;
    left: 85vw;
    width: 200px;
    height: 50px;
    background-color: rgb(32, 29, 216);
    text-align: center;
    font-size: 32px;
}

/* Kartenbereiche */
#playerCarsID {
    position: absolute;
    top: 700px;
    left: 150px;
    width: 75%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

#dealerCardsID {
    position: absolute;
    top: 20px;
    left: 400px;
    width: 60%;
    height: 300px;
    overflow: hidden;
}

/* Spielstatus */
#gameStatus {
    position: absolute;
    top: 100px;
    font-size: large;
}

/* Reset-Button */
#resetButton {
    position: relative;
    top: 400px;
    left: calc(50% - 250px);
    width: 500px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 5px;
}

/* Kartenstapel */
#deck {
    position: absolute;
    left: 85vw;
    top: 400px;
    height: 300px;
    width: 200px;
    border-radius: 10px;
}

#movingCard {
    position: absolute;
    top: 400px;
    height: 300px;
    width: 200px;
    border-radius: 10px;
}
