body {
    background-color: rgb(0, 128, 0);
}
#controll {
    position: absolute;
    display: flex;               
    justify-content: space-between; 
    top: 1000px;
    left: 160px;
    width: 2000px;
    height: 100px;
    background-color: rgb(75, 128, 0);
    text-align: center;
    border-radius: 10px;
}

#controll input{
    width: 200px;
    height: 60px;
    font-size: 50px;
    margin: 20px;
    cursor: pointer;
    border-radius: 5px;
}

#playerCounter {
    position: absolute;
    top: 800px; 
    left: 2000px; 
    width: 200px;
    height: 50px;
    background-color: rgb(216, 29, 29);
    text-align: center;
    font-size: 32px;
}

#dealerCounter {
    position: absolute;
    top: 100px; 
    left: 2000px; 
    width: 200px;
    height: 50px;
    background-color: rgb(32, 29, 216);
    text-align: center;
    font-size: 32px;
}

#playerCarsID {
    position: absolute;
    top: 700px;
    left: 150px;
    width: 75%;
    height: 300px;
    border-radius: 10px;
    overflow: hidden;
}

#dealerCardsID {
    position: absolute;
    top: 20px;
    left: 400px;
    width: 60%;
    height: 300px;
    overflow: hidden;
}

#gameStatus {
    position: absolute;
    top: 100px;
    font-size: large;
}

#resetButton {
    position: relative;
    top: 400px;
    left: calc(50% - 250px);
    width: 500px;
    height: 100px;
    font-size: 50px;
    cursor: pointer;
    border-radius: 5px;
}

#deck {
    position: absolute;
    left: 2000px;
    top: 400px;
    height: 300px;
    width: 200px;
    border-radius: 10px;
}

#movingCard {
    position: absolute;
    /* left: 2000px; */
    top: 400px;
    height: 300px;
    width: 200px;
    border-radius: 10px;
}
